.fullscreen {
    height: 100%;
    position: absolute;
    left: 0;
    width: 100%;
    overflow: hidden;
}

.section {
    // margin-top: 48px;
    // margin-bottom: 20px;
    // padding-top: 4px;
    padding-bottom: 16px;
    color: white;
}

.top-bar {
    background-color: #2B17A8;
}

.overlay {
    position: absolute;
    width: 1150px;
    margin-left: 100px;
    z-index: 1;
}